<footer class="mainfooter" role="contentinfo">
    <div class="footer-top p-y-2">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="footer-title text-xs-center">
                        <h4 class="p-b-1">Contact Us</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Adresse</h4>
                        <address>
                            <ul class="list-unstyled">
                                <li>
                                   Rue XXXX<br>
                                    n°212 A <br>
                                    commune<br>
                                    1xxx<br>
                                </li>
                            </ul>
                        </address>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Formation</h4>
                        <ul class="list-unstyled">
                            <li><a href="#"></a></li>
                            <li><a href="#">Symfony</a></li>
                            <li><a href="#">Bootstrap</a></li>
                            <li><a href="#">Adobe Creative cloud</a></li>
                            <li><a href="#">Illustrator</a></li>
                            <li><a href="#">Photoshop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Produit</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Categorie</a></li>
                            <li><a href="#">Article</a></li>
                            <li><a href="#">Produit</a></li>
                            <li><a href="#">Politique de vie privé</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Webmaster</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Collaborateur</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Symfony</a></li>
                            <li><a href="#">Bootstrap</a></li>
                            <li><a href="#">Adobe Creative cloud</a></li>
                            <li><a href="#">Illustrator</a></li>
                            <li><a href="#">Photoshop</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <!--Footer Bottom-->
                    <p class="text-xs-center">&copy; Copyright 2018 - Muken Entertaiment.  All rights reserved.</p>
                    <a href="#"><img class="social_icon" src="{{ asset ('images/social_icon/facebook.svg')}}" alt="facebook"></a>
                    <a href="#"><img class="social_icon" src="{{ asset ('images/social_icon/instagram.svg')}}" alt="instagram"></a>
                    <a href="#"><img class="social_icon" src="{{ asset ('images/social_icon/google-plus.svg')}}" alt="google-plus"></a>
                    <a href="#"><img class="social_icon" src="{{ asset ('images/social_icon/linkedin.svg')}}" alt="linkedin"></a>
                    <a href="#"><img class="social_icon" src="{{ asset ('images/social_icon/deviantart.svg')}}" alt="deviantart"></a>
                    <a href="#"><img class="social_icon" src="{{ asset ('images/social_icon/behance.svg')}}" alt="behance"></a>
                </div>
            </div>
        </div>
    </div>
</footer>