{% extends 'bases.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <h1 >Liste des Categories</h1>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Donnée</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="row">Id</th>
                <th scope="row">Nom categorie</th>
                <th scope="row">Visuel</th>
                <th scope="row">Editer</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td><a class="color" href="{{ path('categorie_show', { 'id': categorie.id }) }}">{{ categorie.id }}</a></td>
                <td>{{ categorie.nomCategorie }}</td>
                <td>
                    <ul>
                        <li >
                            <a class="color" href="{{ path('categorie_show', { 'id': categorie.id }) }}">show</a>
                        </li>
                        </ul>
                </td>
                <td>
                        <ul>
                        <li >
                            <a class="color" href="{{ path('categorie_edit', { 'id': categorie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </table>
            <p><a class="color" href="{{ path('categorie_new') }}">Créer une nouvelle categorie</a></p>

<div class="card-footer small text-muted"></div>
                </div>
                </div>
                </div>
            </div>
{% endblock %}
